h1,h2{
    text-align: center;
    color: rgb(163, 106, 19);
}
table{
    width: 50%;
    margin: auto; /*Centrar*/
}
input, select, textarea{
    border-radius: 5px;
    padding: 10px;
    background-color: antiquewhite;
    width: 250px;
}

button{
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    color: aqua;
    background-color: black;
}
.origen{
    background-color: rgb(65, 42, 14);
    color: white;
}